<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica CodoaCodo</title>
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="./css/estilos_crud.css">
</head>

<body>

    <div class="container">
        <header class="header">
            <h2 class="logo"><a href="index.html"><img src="img/logo_nuevo2.png" alt=""></a></h2>
            <input type="checkbox" id="check">
            <label for="check" class="mostrar-menu">&#8801</label>
            <nav class="menu">
                <a href="usuarios_crud_index.html">Inicio CRUD</a>
                <a href="usuarios_listado.html"><button class="boton">Volver listado</button></a>
                <label for="check" class="esconder-menu">
                    &#215 <!--Este es el código ASCII correspondiente al icono menu hamburguesa -->
                </label>
            </nav>
        </header>

        <main class="content">
            <h2 class="titulo"><b><u>Clinica Codo a Codo</u></b></h2>
            <h2 class="titulo">Modificar usuarios de la nomina</h2>
            <br>

            <!-- Contenedor principal que será controlado por Vue.js. Este contenedor tendrá dos formularios. -->
            <div id="app">
                <!-- Primer formulario: Selector de afiliado. LLama a la función obtenerAfiliado cuando se envíe el formulario -->
                <form @submit.prevent="obtenerUsuario">
                    <label for="dni">D.N.I.:</label>
                    <input type="text" v-model="dni" required><br>
                    <button class="boton_verde" type="submit">Modificar Usuario</button>
                    <button class="boton_rojo"><a class="xx" href="usuarios_crud_index.html">Cancelar</a></button>
                </form>

                <!-- Segundo formulario: se muestra solo si mostrarDatosAfiliado es verdadero. Llama a la función guardarCambios -->
                <div v-if="mostrarDatosUsuario">
                    <h2>Datos del Usuario</h2>
                    <form @submit.prevent="guardarCambios">
                        <label for="nombreModificar">Nombre:</label>
                        <input type="text" id="nombreModificar" v-model="nombre" required><br>

                        <label for="apellidoModificar">Apellido:</label>
                        <input type="text" id="apellidoModificar" v-model="apellido" required><br>

                        <label for="fecha_nacModificar">Fecha nacimiento:</label>
                        <input type="date" id="fecha_nacModificar" v-model="fecha_nac" required><br>

                        <label for="puestoModificar">Puesto:</label>
                        <input v-model="puesto" disabled><br>
                        <select id="puestoModificar" v-model="puesto" @click="seleccionarPuesto">

                        </select><br>

                        <label for="contratoModificar">Contrato:</label>
                        <input v-model="contrato" disabled><br>
                        <select id="contratoModificar" v-model="contrato" @click="seleccionarContrato">

                        </select><br>

                        <!-- Imagen actual del producto -->
                        <img v-if="foto && !imagenSeleccionada" :src="'./static/imagenes/' + foto"
                            alt="Imagen del producto" style="max-width: 200px;">

                        <!-- Al subir al servidor, deberá utilizarse la siguiente ruta. USUARIO debe ser reemplazado por el nombre de usuario de Pythonanywhere -->
                        <!-- <img v-if="imagen_url && !imagenSeleccionada" :src="'https://www.pythonanywhere.com/user/USUARIO/files/home/USUARIO/mysite/static/imagenes/' + imagen_url"
                    alt="Imagen del producto" style="max-width: 200px;"> -->


                        <!-- Vista previa de la nueva imagen seleccionada -->
                        <img v-if="imagenSeleccionada" :src="imagenUrlTemp" alt="Vista previa de la nueva imagen"
                            style="max-width: 200px;">

                        <!-- Input para nueva imagen -->
                        <label for="nuevaImagen">Nueva Imagen:</label>
                        <input type="file" id="nuevaImagen" @change="seleccionarImagen"><br><br>

                        <label for="empresaModificar">Empresa:</label>
                        <input v-model="empresa" disabled><br>
                        <select id="empresaModificar" v-model="empresa" @click="seleccionarEmpresa">

                        </select><br>

                        <label for="estadoModificar">Estado:</label>
                        <input v-model="estado" disabled><br>
                        <select id="estadoModificar" v-model="estado" @click="seleccionarEstado">

                        </select><br>

                        <button class="boton_verde" type="submit">Guardar Cambios</button>
                        <button class="boton_rojo"><a class="xx" href="usuarios_modificaciones.html">Cancelar</a></button>
                    </form>
                </div>
            </div>
        </main>

        <footer class="footer">
            <h4>CLINICA CODOACODO <span>Esperanza 114, Buenos Aires</span></h4>
            <a href="usuarios_crud_index.html">Inicio CRUD</a>
        </footer>

    </div>




    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const URL = "http://127.0.0.1:5000/"

        //Al subir al servidor, deberá utilizarse la siguiente ruta. USUARIO debe ser reemplazado por el nombre de usuario de Pythonanywhere
        //const URL = "https://USUARIO.pythonanywhere.com/"


        //Vue.createApp para crear nuestra aplicación Vue.
        const app = Vue.createApp({

            //La función data devuelve un objeto que contiene las siguientes propiedades: 
            data() {
                return {
                    dni: '',
                    nombre: '',
                    apellido: '',
                    fecha_nac: '',
                    puesto: '',
                    contrato: '',
                    foto: '',
                    empresa: '',
                    estado: '',
                    imagenSeleccionada: null,
                    imagenUrlTemp: null,
                    mostrarDatosUsuario: false, //mostrarDatosAfiliado para controlar la visibilidad del formulario de modificación.
                };
            },

            methods: {
                //Se ejecuta cuando se envía el formulario de consulta. En este método, utilizamos fetch para realizar una solicitud GET a la API y obtener los datos del afiliado correspondiente al DNI ingresado.
                obtenerUsuario() {
                    fetch(URL + 'usuarios/' + this.dni)
                        //Realiza una solicitud de red al servidor para obtener los datos del afiliado. Usa la URL definida anteriormente y añade 'afiliados/' seguido del DNI del afiliado.

                        //Verificamos si la respuesta de la solicitud es exitosa (código de respuesta 200-299). 
                        .then(response => {
                            //Si es así, utilizamos response.json() para parsear la respuesta en formato JSON.
                            if (response.ok) {
                                return response.json() //Una vez que la respuesta llega del servidor, se convierte de formato JSON a un objeto JavaScript.
                            } else {
                                //Si la respuesta es un error, lanzamos una excepción para ser "catcheada" más adelante en el catch.
                                throw new Error('ERROR al obtener los datos del usuario!!')
                            }
                        })

                        //En este bloque, se asignan los datos obtenidos a las variables correspondientes de la aplicación Vue.
                        .then(data => {
                            this.nombre = data.nombre;
                            this.apellido = data.apellido;
                            this.fecha_nac = data.fecha_nac;
                            this.puesto = data.puesto;
                            this.contrato = data.contrato;
                            this.foto = data.foto;
                            this.empresa = data.empresa;
                            this.estado = data.estado;
                            this.mostrarDatosUsuario = true;
                        })

                        //Si ocurre un error durante la solicitud, se captura y se imprime en la consola.
                        .catch(error => {
                            alert('Usuario NO ENCONTRADO!!')
                        })
                },

                //Se activa cuando el usuario selecciona una imagen para cargar.
                seleccionarImagen(event) {
                    const file = event.target.files[0];
                    this.imagenSeleccionada = file;
                    this.imagenUrlTemp = URL.createObjectURL(file); // Crea una URL temporal para la vista previa
                },




                //Se activa cuando el usuario selecciona el despleagable de EMPRESA
                seleccionarEmpresa(event) {
                    // Realizamos la solicitud GET al servidor para obtener todos los productos.
                    fetch(URL + 'empresas')
                        .then(function (response) {
                            if (response.ok) {
                                //Si la respuesta es exitosa (response.ok), convierte el cuerpo de la respuesta de formato JSON a un objeto JavaScript y pasa estos datos a la siguiente promesa then.
                                return response.json();
                            } else {
                                // Si hubo un error, lanzar explícitamente una excepción para ser "catcheada" más adelante
                                throw new Error('ERROR al obtener el listado de empresas!!');
                            }
                        })

                        //Esta función maneja los datos convertidos del JSON.
                        .then(function (data) {
                            let tablaempresas = document.getElementById('empresaModificar'); //Selecciona el elemento del DOM donde se mostrarán los productos.

                            // Iteramos sobre cada producto y agregamos filas a la tabla
                            for (let empresa of data) {
                                let fila = document.createElement('option'); //Crea una nueva fila de tabla (<tr>) para cada producto.
                                fila.setAttribute("value", empresa.codigo)
                                fila.innerHTML = empresa.nombre
                                //Una vez que se crea la fila con el contenido del producto, se agrega a la tabla utilizando el método appendChild del elemento tablaProductos.
                                tablaempresas.appendChild(fila);
                            }
                        })

                        //Captura y maneja errores, mostrando una alerta en caso de error al obtener los productos.
                        .catch(function (error) {
                            // Código para manejar errores
                            alert('ERROR al obtener las empresas!!');
                        });
                },

                //Se activa cuando el usuario selecciona el despleagable de PUESTO
                seleccionarPuesto(event) {
                    // Realizamos la solicitud GET al servidor para obtener todos los productos.
                    fetch(URL + 'puestos')
                        .then(function (response) {
                            if (response.ok) {
                                //Si la respuesta es exitosa (response.ok), convierte el cuerpo de la respuesta de formato JSON a un objeto JavaScript y pasa estos datos a la siguiente promesa then.
                                return response.json();
                            } else {
                                // Si hubo un error, lanzar explícitamente una excepción para ser "catcheada" más adelante
                                throw new Error('ERROR al obtener el listado de puestos!!');
                            }
                        })

                        //Esta función maneja los datos convertidos del JSON.
                        .then(function (data) {
                            let tablapuestos = document.getElementById('puestoModificar'); //Selecciona el elemento del DOM donde se mostrarán los productos.

                            // Iteramos sobre cada producto y agregamos filas a la tabla
                            for (let puesto of data) {
                                let fila = document.createElement('option'); //Crea una nueva fila de tabla (<tr>) para cada producto.
                                fila.setAttribute("value", puesto.codigo)
                                fila.innerHTML = puesto.nombre
                                //Una vez que se crea la fila con el contenido del producto, se agrega a la tabla utilizando el método appendChild del elemento tablaProductos.
                                tablapuestos.appendChild(fila);
                            }
                        })

                        //Captura y maneja errores, mostrando una alerta en caso de error al obtener los productos.
                        .catch(function (error) {
                            // Código para manejar errores
                            alert('ERROR al obtener los puestos!!');
                        });
                },

                //Se activa cuando el usuario selecciona el despleagable de CONTRATO
                seleccionarContrato(event) {
                    // Realizamos la solicitud GET al servidor para obtener todos los productos.
                    fetch(URL + 'contratos')
                        .then(function (response) {
                            if (response.ok) {
                                //Si la respuesta es exitosa (response.ok), convierte el cuerpo de la respuesta de formato JSON a un objeto JavaScript y pasa estos datos a la siguiente promesa then.
                                return response.json();
                            } else {
                                // Si hubo un error, lanzar explícitamente una excepción para ser "catcheada" más adelante
                                throw new Error('ERROR al obtener el listado de contratos!!');
                            }
                        })

                        //Esta función maneja los datos convertidos del JSON.
                        .then(function (data) {
                            let tablacontratos = document.getElementById('contratoModificar'); //Selecciona el elemento del DOM donde se mostrarán los productos.

                            // Iteramos sobre cada producto y agregamos filas a la tabla
                            for (let contrato of data) {
                                let fila = document.createElement('option'); //Crea una nueva fila de tabla (<tr>) para cada producto.
                                fila.setAttribute("value", contrato.codigo)
                                fila.innerHTML = contrato.tipo
                                //Una vez que se crea la fila con el contenido del producto, se agrega a la tabla utilizando el método appendChild del elemento tablaProductos.
                                tablacontratos.appendChild(fila);
                            }
                        })

                        //Captura y maneja errores, mostrando una alerta en caso de error al obtener los productos.
                        .catch(function (error) {
                            // Código para manejar errores
                            alert('ERROR al obtener los contratos!!');
                        });
                },

                //Se activa cuando el usuario selecciona el despleagable de ESTADO
                seleccionarEstado(event) {
                    // Realizamos la solicitud GET al servidor para obtener todos los productos.
                    fetch(URL + 'estados')
                        .then(function (response) {
                            if (response.ok) {
                                //Si la respuesta es exitosa (response.ok), convierte el cuerpo de la respuesta de formato JSON a un objeto JavaScript y pasa estos datos a la siguiente promesa then.
                                return response.json();
                            } else {
                                // Si hubo un error, lanzar explícitamente una excepción para ser "catcheada" más adelante
                                throw new Error('ERROR al obtener el listado de estados!!');
                            }
                        })

                        //Esta función maneja los datos convertidos del JSON.
                        .then(function (data) {
                            let tablaestados = document.getElementById('estadoModificar'); //Selecciona el elemento del DOM donde se mostrarán los productos.

                            // Iteramos sobre cada producto y agregamos filas a la tabla
                            for (let estado of data) {
                                let fila = document.createElement('option'); //Crea una nueva fila de tabla (<tr>) para cada producto.
                                fila.setAttribute("value", estado.codigo)
                                fila.innerHTML = estado.estado
                                //Una vez que se crea la fila con el contenido del producto, se agrega a la tabla utilizando el método appendChild del elemento tablaProductos.
                                tablaestados.appendChild(fila);
                            }
                        })

                        //Captura y maneja errores, mostrando una alerta en caso de error al obtener los productos.
                        .catch(function (error) {
                            // Código para manejar errores
                            alert('ERROR al obtener los contratos!!');
                        });
                },




                //Se usa para enviar los datos modificados del producto al servidor.
                guardarCambios() {
                    const formData = new FormData();
                    formData.append('dni', this.dni);
                    formData.append('nombre', this.nombre);
                    formData.append('apellido', this.apellido);
                    formData.append('fecha_nac', this.fecha_nac);
                    formData.append('puesto', this.puesto);
                    formData.append('contrato', this.contrato);
                    formData.append('empresa', this.empresa);
                    formData.append('estado', this.estado);

                    //Si se ha seleccionado una imagen nueva, la añade al formData. 
                    if (this.imagenSeleccionada) {
                        formData.append('foto', this.imagenSeleccionada, this.imagenSeleccionada.name);
                    }

                    //Utilizamos fetch para realizar una solicitud PUT a la API y guardar los cambios.
                    fetch(URL + 'usuarios/' + this.dni, {
                        method: 'PUT',
                        body: formData, //Dado que formData puede contener archivos, no se utiliza JSON.
                    })
                        .then(response => {
                            //Si la respuesta es exitosa, utilizamos response.json() para parsear la respuesta en formato JSON.
                            if (response.ok) {
                                return response.json()
                            } else {
                                //Si la respuesta es un error, lanzamos una excepción.
                                throw new Error('ERROR 01 al guardar los cambios del usuario!!')
                            }
                        })

                        //Respuesta OK, muestra una alerta informando que el producto se agregó correctamente y limpia los campos del formulario para que puedan ser utilizados para un nuevo producto.
                        .then(data => {
                            alert('Usuario ACTUALIZADO CORRECTAMENTE!!');
                            this.limpiarFormulario();
                        })

                        // En caso de error, mostramos una alerta con un mensaje de error.
                        .catch(error => {
                            console.error('Error:', error);
                            alert('ERROR 02 al actualizar el usuario!!');
                        });
                },

                //Restablece todas las variables relacionadas con el formulario a sus valores iniciales, lo que efectivamente "limpia" el formulario.
                limpiarFormulario() {
                    this.dni = '';
                    this.nombre = '';
                    this.apellido = '';
                    this.fecha_nac = '';
                    this.puesto = '';
                    this.contrato = '';
                    this.foto = '';
                    this.empresa = '';
                    this.estado = '';
                    this.imagenSeleccionada = null;
                    this.imagenUrlTemp = null;
                    this.mostrarDatosUsuario = false;
                }
            }
        });

        //Cuando se llama a app.mount('#app'), Vue busca en el documento HTML un elemento con el id app. Vue entonces toma el control de este elemento y de todo su contenido. Esto significa que Vue puede reaccionar a los cambios en sus datos y actualizar automáticamente el HTML en este elemento. También maneja eventos, como clicks o entradas de formulario, y actualiza los datos según las interacciones del usuario.

        app.mount('#app');
    </script>

</body>

</html>